aiohttp==3.13.5
flwr==1.29.0
flwr-datasets==0.6.0
nvidia-cuda-cupti==13.0.85
nvidia-cuda-nvrtc==13.0.88
nvidia-cuda-runtime==13.0.96
nvidia-cufft==12.0.0.61
nvidia-cufile==1.15.1.6
nvidia-curand==10.4.0.35
nvidia-cusolver==12.0.4.66
nvidia-nvtx==13.0.85
opacus==1.5.4
pip==26.1
ray==2.55.1
torchvision==0.26.0
